<script>
	import { listOfProducts } from './productsStore.js';
</script>

<div class="contactUs">
	<h1 class="contactMessage">Contact Us Now!</h1>

	<div class="grid-container">

	<div class="address">
	<h2>Our Address</h2>

	<table>
		<tr><td>Head Office</td><td>Jl. Jakarta, DKI Jakarta.</td></tr>
		<tr><td>P.O. BOX</td><td>1xxx JAK.</td></tr>
		<tr><td>Phone</td><td>62xxxx xxxx</td></tr>
		<tr><td>Phone 2</td><td>62xxxx xxxx</td></tr>
		<tr><td>Email</td><td>bekalpharma@co.id</td></tr>
	</table>

	<span>Spot us on Google Map -- see below!</span>
	<img src="images/gmap.jpg" alt="Some Google Map Coordinate" />
	</div>

	<div class="contactForm">
		<h2>Send us a message</h2>
		<form method="GET" action="#">
			<label>Name :</label>
			<input type="text" name="sendersName" />
			<label>Email :</label>
			<input type="text" name="sendersEmail" />
			<label>Phone :</label>
			<input type="number" name="sendersNumber" />
			<label>Message :</label>
			<textarea name="sendersMessage"></textarea>

			<button type="submit" name="submitButton">Send</button>
		</form>
	</div>



	</div>
</div>

<style>
img {
max-width:100%;
max-height:100%;
}
.contactUs {
	color: hsl(110,100%,15%);
	background: white;
	padding:2%;
}
.address {
	padding: 5%;
	background: hsl(110,100%,80%);
	border-radius:25px;
	box-shadow: 5px 5px 5px hsl(1,1%,15%);
}
.contactForm {
	padding: 2%;
	padding-left: 5%;
}
.contactMessage {
	padding-left: 2%;
	border-left: 20px solid hsl(110,100%,40%);
}
.grid-container {
  display: grid;
  grid-template-columns: 30% 70%;
}
table {
	margin: 3% 0 3% 0;
	width: 100%;
	border-left: 5px solid hsl(110,100%,40%);
	padding: 3%;
}
form input, form textarea {
	border: none;
	border-bottom: 1px solid hsl(110,100%,10%);
	margin-bottom: 2%;
	width: 100%;
	padding: 1%;
}
form button {
	border: none;
	padding: 2% 5% 2% 5%;
	background: hsl(110,100%,30%);
	color: white;
	font-weight: bold;
	border-radius: 25px;
}
@media(max-width: 800px) {
	.grid-container {
  display: grid;
  grid-template-columns: 100%;
  padding: 2%;
}
}
</style>