<script>
	import { listOfProducts } from './productsStore.js';
</script>

<div class="footer">
	<a href="#" class="footerTitle">BekalPharma</a><br>
	<span>23 01 2022 - BekalPharma - Rights Reserved.</span>
</div>

<style>
.footer {
	background: black;
	opacity: 0.9;
	color: hsl(1,1%,50%);
	padding: 1% 3% 1% 3%;
}
.footerTitle {
	color: hsl(110,100%,70%);
	font-weight: bold;
}
@media(max-width: 800px) {
.footer {
	padding:5%;
}
}
</style>