<script>
	import JumbotronLink from './jumbotronLink.svelte'

	let jumbotronLinks = [
	{id: '1',name:'CEO Message',url:'/ceoMessage'},
	{id: '2',name:'Board of Commissioners',url:'/BoC'},
	{id: '3',name:'Board of Directors',url:'/BoD'},
	{id: '4',name:'Kalbe Group Structure',url:'/groupStructure'},
	{id: '5',name:'Awards',url:'/Awards'},
	]
</script>


	<div class="bgWrapper">Test<div class="bgDimmer"></div></div>


<div class="jumbotron">
		<!-- Jumbotron Content -->
<div class="jumbotronContent">
	<div class="jumbotronCatch">
<h1>BekalFarma at a Glance</h1>
<p>The story of BekalFarma begins from a humble beginning in the founder's garage in 19xx -- as a pharmaceutical company driven by a set of simple principles: innovation, strong brands and excellent management.</p></div>

{#each jumbotronLinks as link}
<JumbotronLink >
<a href="{link.url}">{link.name}</a>
</JumbotronLink>
{/each}
	</div>

<div class="jumbotronNextContent">
	<h1 class="nextContent">Some of BekalPharma's Top Products</h1>
</div>
</div>


<style>
.jumbotron {
	margin-top: 15%;
	opacity: 1;
	color: white;
	text-align: justify;
}

.jumbotronContent {
	padding-left:2%;
	border-left:20px solid hsl(110,100%,50%);
	margin: auto;
	width: 60%;
	margin-bottom:5%;
}
.jumbotronContent a {
	color: hsl(110,100%,80%);
	border: 1px solid hsl(110,100%,80%);
	border-radius: 25px;
	padding: 1%;
	margin-right: 0%;
	transition: all 0.2s ease-in-out;
}
.jumbotronContent a:hover {
	background: hsl(110,100%,80%);
	color: black;
	transition: all 0.2s ease-in-out;
}
.jumbotronCatch {
	font-size: 110%;
	line-height: 200%;
}
.jumbotronNextContent {
	border-left: 20px solid hsl(110,100%,50%);
	margin: auto;
	width: 50%;
	text-align: center;
}
.bgWrapper {
	position: fixed;
	top: 0;
	left: 0;
	background-image: url('https://freenaturestock.com/wp-content/uploads/freenaturestock-1320-1024x683.jpeg');
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 900px;
	z-index: -1;
}
.bgDimmer {
	width: 100%;
	height: 98%;
	background: hsl(110,100%,2%);
	opacity: 0.8;
	z-index: -1;
}
@media(max-width: 800px) {
.jumbotron {
	margin-top: 25%;
}
.jumbotronContent {
	width: 80%;
}
.jumbotronContent a {
	display: block;
	margin-bottom: 3%;
	padding: 3%;
}
.jumbotronCatch {
	font-size: 100%;
	line-height: 150%;
}
.jumbotronNextContent {
	border-left: 20px solid hsl(110,100%,40%);
	margin: auto;
	width: 82%;
}
}
</style>
