<script>
	import { listOfProducts } from './productsStore.js';

	let  productCategories = [
	{id: '1',name:'Prescription/Ethical',url:'/about'},
	{id: '2',name:'Consumer Health',url:'/sustainability'},
	{id: '3',name:'Nutritionals',url:'/product'},
	{id: '4',name:'Distribution-Logistics',url:'/news'},
	{id: '5',name:'Health Services',url:'/investors'},
	{id: '6',name:'Medical Services',url:'/career'},
	{id: '7',name:'Biopharma',url:'/contact'},
	]
</script>

<div class="products">
<div class="grid-container">
  	<div class="productCategories">
  		{#each productCategories as category}
  		<a href="#">{category.name}</a>
  		{/each}
 </div>

  	<div class="productCardsContainer">

  	{#each $listOfProducts as product}
	<div class="productCard">
	<div class="productCardImage">
		<img src="images/product1.jpg" alt="productTitle">
	</div>
	<div class="productCardTitle">
		<span>{product.name}</span>
	</div>
	<div class="productCardDesc">
		<p>{product.description}</p>
	</div>
	<div class="productCardAction">
		<a href="{product.url}" >Detail</a>
	</div>
</div>
{/each}

<div class="floatClear"></div>
</div>
  </div>
  </div>


<style>
.products {
	padding: 1% 2% 1% 2%;
}

.productCategories, .productCardsContainer {
	padding-right: 5%;
}
.productCategories a {
	color: hsl(110,100%,80%);
	display: block;
	padding: 3%;
	border-left: 1px solid hsl(110,100%,50%);
	margin-top: 5%;
	transition: all 0.3s ease-in-out;
}
.productCategories a:hover {
	border-left: 15px solid hsl(110,100%,50%);
}
.productCard {
	margin-right: 5%;
	margin-bottom: 5%;
	float: left;
}
.productCardImage img{
max-width:100%;
max-height:100%;
}
.productCardTitle {
	color: white;
	font-size: 150%;
	padding: 2%;
	font-weight: bold;
	text-align: center;
	border-left: 1px solid hsl(110,100%,70%);
	transition: all 0.3s ease-in-out 0.2s;
}
.productCard:hover .productCardTitle {
	border-left: 30px solid hsl(110,100%,70%);
}
.productCardDesc {
	border-left: 1px solid  hsl(110,100%,70%);
	padding: 1% 5% 1% 5%;
	color: hsl(110,100%,70%);
	transition: all 0.3s ease-in-out 0.2s;
}
.productCard:hover .productCardDesc {
	border-left: 30px solid hsl(110,100%,70%);
	background: white;
	color: hsl(110,100%,20%);
	border-bottom:2px solid hsl(110,100%,70%);
}
.productCardAction {
	padding: 0%;
	font-size: 0;
	text-align: right;
	background: hsl(110,100%,30%);
	border: none;
	transition: all 0.3s ease-in-out;
}
.productCard:hover .productCardAction {
	padding: 5%;
	font-size: initial;
	color: hsl(110,100%,20%);
	background: white;
	border-right: 20px solid hsl(110,100%,30%);
	font-weight: bold;
	transition: all 0.3s ease-in-out 0.2s;
}
.floatClear {
	clear: both;
}
.grid-container {
  display: grid;
  grid-template-columns: 20% 80%;
}
.productCardsContainer {
display: grid;
 grid-template-columns: 25% 25% 25% 25%;
}
@media(max-width: 800px) {
	.grid-container, .productCardsContainer {
		grid-template-columns: 100%;
		padding: 2%;
	}
	.productCard {
	margin-right: 0%;
}
}
</style>