<script>
	let moreLinks = false

	function toggle() {
		moreLinks = !moreLinks;
	}

	let topLinks = [
	{id: '1',name:'About',url:'/about'},
	{id: '2',name:'Sustainability',url:'/sustainability'},
	{id: '3',name:'Product',url:'/product'},
	{id: '4',name:'News',url:'/news'},
	{id: '5',name:'Investors',url:'/investors'},
	{id: '6',name:'Career',url:'/career'},
	{id: '7',name:'Contact',url:'/contact'},
	]
</script>

<div class="topBar">

<div class="grid-container">

<!-- Top image wrapper -->
<div class="logoWrapper grid-item">
	<div class="topImageWrapper">
		<img src="images/logo.png" alt="BekalPharma Logo" />
	</div>
	<a href="#" class="topName"><strong>BekalPharma</strong></a>
</div>
<!-- Top image wrapper -->

<div class="grid-item">
</div>

<div class="grid-item">
	<div class="topBarLang">
	<a href="#">EN</a> | <a href="#">ID</a>
	</div>
</div>

<div class="grid-item topLinksWrapper">
<a class="button" on:click={toggle} ><img src="images/hamburger.png"/></a>
</div>


</div>
</div>

{#if moreLinks}
<div class="modal">
	
	<div class="modalCard">
		<div class="modalCardTitle">
			<h3>Sustainability</h3>
		</div>
		<div class="modalCardLinks">
			<a href="#">Sustainability Overview</a>
			<a href="#">Sustainability Highlights </a>
			<a href="#">Partnerships </a>
			<a href="#">Reports</a>
		</div>
	</div>

	<div class="modalCard">
		<div class="modalCardTitle">
			<h3>Investors</h3>
		</div>
		<div class="modalCardLinks">
			<a href="#">Information for Shareholders</a>
			<a href="#">Financial Highlights</a>
			<a href="#">Stakeholders</a>
			<a href="#">Investor Relations Activities </a>
		</div>
	</div>

</div>
{/if}

<style>
img {
max-width:100%;
max-height:100%;
}
a {
	text-decoration: none;
	color: hsl(110,100%,30%);
}
h1 {
	margin: 0;
}
.topName {
	font-size: 200%;
}
.modal {
	color: white;
	padding: 7% 0% 5% 0%;
	position: fixed;
	right: 0;
	top: 0;
	width: 20%;
	height: 100%;
	background: black;
	opacity: 0.95;
}
.modalCard {
	margin: 5%;
	transition: all 0.3s ease-in-out;
}
.modalCard:hover {
	background: hsl(1,1%,10%);
}
.modalCardTitle {
	padding-top: 2%;
	border-left: 1px solid hsl(110,100%,80%);
	padding-left: 5%;
}
.modalCardTitle h3 {
	margin: 1%;
	padding: 0;
}
.modalCardLinks a {
	display: block;
	border-left: 1px solid hsl(110,100%,20%);
	padding: 5%;
	transition: all 0.3s ease-in-out;
}
.modalCardLinks a:hover {
	border-left: 5px solid hsl(110,100%,80%);
	color: hsl(110,100%,80%);
}
.topBar {
	z-index:2;
	border-top: 5px solid hsl(110,100%,30%);
	position:fixed;
	top:0;
	left:0;
	width:100%;
	background: white;
	box-shadow: 5px 5px 5px hsl(1,1%,10%);
}
.logoWrapper {
	padding:5% 0 0 5%;
	text-align: left;
}
.topImageWrapper {
	float: left;
	width: 20%;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 63% 7% 5%;
}
.topLinksWrapper {
	padding-top: 10%;
	width: 80%;
}
.topLinksWrapper a {
	margin-right: 2%;
	transition: all 0.3s ease-in-out;
}
.topLinksWrapper a:hover {
  background: hsl(110,100%,40%);
	font-weight: bold;
	padding-right: 5%;
	padding-left: 2%;
	transition: all 0.3s ease-in-out;
}
.topBarLang {
	margin: 8%;
	background: hsl(110,100%,30%);
	padding: 15%;
	color: white;
	text-align: center;
}
.topBarLang a {
		color: hsl(110,100%,80%);
}

@media(max-width: 800px) {
	.topName {
	font-size: 150%;
}
	.grid-container {
  display: grid;
  grid-template-columns: 60% 0% 25% 20%;
}
.topImageWrapper {
	float: left;
	width: 30%;
}
.modal {
	width: 90%;
	padding-top: 20%;
	opacity: 0.95;
}
}
</style>
