<script>
	import TopBar from './components/TopBar.svelte'
	import Jumbotron from './components/Jumbotron.svelte'
	import Products from './components/Products.svelte'
	import Contact from './components/Contact.svelte'
	import Footer from './components/Footer.svelte'
</script>

<main>
	<TopBar />
	<Jumbotron />
	<Products />
	<Contact />
	<Footer />
</main>

<style>

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>